<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- external stylesheet -->

  <link rel="stylesheet" type="text/css" href="main.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
	<script>
		angular.module('myApp',['ui.bootstrap']);
		angular.module('myApp').controller('random_post_controller', function($scope,$http){
			var random_post = [];
			//calls fetch_post two times to save into random_post array
			$scope.fetch_post = function(){
				$http.get('http://52.25.213.221:1337/messages/main').success(function(response){
					$scope.random_post.push(response.data);
				});
				$http.get('http://52.25.213.221:1337/messages/main').success(function(response){
					$scope.random_post.push(response.data);
				});
			}
		});
	</script>
	<title>Weirdo</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">W.E.I.R.D.O</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling  -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">POST<span class="sr-only">(current)</span></a></li>
          <li><a href="#">VIEW</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="wrapper">
  	<img src="site-pictures/WEIRDO_logo.png" alt="logo for weirdo" id="banner"> 
    <div class="row">
      <!-- anchor to new page for top posts -->
      <!-- need to figure out the format of the how the posts should look like for left/right column -->
      <div ng-controller='random_post_controller' ng-init='fetch_post()'>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Top Story</div>
            <div class="panel-body">
              <div ng-model="random_post[0]">
                <img src="random_post[0].url" height="200px" width="200px" /img>
                //{{random_post[0].title}}, {{random_post[0].story}}, {{random_post[0].name}}
                <p></p>
              </div>
            </div>
     	    </div> <!-- end of panel info -->
        </div> <!-- end of col-md-6 -->
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Top Story</div>
            <div class="panel-body">
         	<div ng-model="random_post[1]">
                <img src="random_post[1].url" height="200px" width="200px" /img>
                //{{random_post[1].title}}, {{random_post[1].story}}, {{random_post[1].name}}
                <p></p>
         	</div>
            </div>
          </div> <!-- end of panel info -->
        </div> <!-- end of col-md-6 -->
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
