<!DOCTYPE html>
<html ng-app="indexApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- external stylesheet -->

  <link rel="stylesheet" type="text/css" href="main.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <!-- angular js -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
   <!-- ui bootstrap --> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
  <!-- index javascript -->
  <script src="main.js"></script>
  <title>Weirdo</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">W.E.I.R.D.O</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling  -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="post.html">POST</a></li>
          <li><a href="view.html">VIEW</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="wrapper">
  	<img src="http://i.imgur.com/7TtwaJm.png" alt="logo for weirdo" id="banner"> 
    <div class="row">
      <!-- anchor to new page for top posts -->
      <!-- need to figure out the format of the how the posts should look like for left/right column -->
      <div ng-controller='random_post_controller' ng-init='fetch_post()'>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Top Story</div>
            	<div class="panel-body">
              		<div ng-model="random_post[0]">
                		<img src="random_post[0].url" class="img-responsive center-block" /img>
        			 //{{random_post[0].title}}, {{random_post[0].story}}, {{random_post[0].name}}
                		<p class="lead">{{random_post[0].story}}</p>
                		<button type="button" ng-click="increment_like(random_post[0]); like_counter(random_post[0])" class="btn btn-primary" id="weird-button">Weird <span class="badge">{{random_post[0].likes}}</span></button>
        		 </div>
            	</div>
     	    </div> <!-- end of panel info -->
        </div> <!-- end of col-md-6 -->
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Top Story</div>
        	 <div class="panel-body">
         		<div ng-model="random_post[1]">
        		   <img src="random_post[1].url" class="img-responsive center-block" /img>
        		   //{{random_post[1].title}}, {{random_post[1].story}}, {{random_post[1].name}}
        		  <p class="lead">{{random_post[1].story}}</p>
        		  <button type="button" ng-click="increment_like(random_post[1]); like_counter(random_post[1])" class="btn btn-primary" id="weird-button">Weird <span class="badge">{{random_post[1].likes}}</span></button>
         		</div>
            	</div>
          </div> <!-- end of panel info -->
        </div> <!-- end of col-md-6 -->
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
