.main-body {
  max-width: 600px;
  border-radius: 50px 15px;
  background-color: #DDE;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  float: center;
  position: relative;
}
.left-column{
  float: left;
  position: relative;
}
.right-column{
  float: right;         
  position: relative;
}
.wrapper{
  float: center;
  margin: 10px 140px;
}
.story_title{
  font-family:Lucida Sans Unicode;
  text-align: center;
  font-size: 30px;
}
#banner{
  width: 400px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
#story{
  margin: 18px;
}
#weird-button{
  margin: 10px;
}

#emphasize {
  color: #FF0000;
}
