.main-body {
  max-width: 600px;
  border-radius: 50px 15px;
  background-color: #DDE;
  text-align: center;
  padding: 10px;
  margin: auto;
  float: center;
  position: relative;
}
.left-column{
  float: left;
  position: relative;
}
.right-column{
  float: right;         
  position: relative;
}
.wrapper{
  float: center;
  margin: 60px;
}
#banner{
  width: 400px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
